<h2>Create New Landmark</h2>

<form method="POST" action="/landmarks/new">
  <p><label for="landmark[name]">Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name"/></p>
  <p><label for="landmark[year_completed]">Year Completed:</label>
  <input type="number" name="landmark[year_completed]" id="landmark_year_completed" /></p>

  <p><button type="submit">Create New Landmark</button></p>
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
